<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="contact.css">
  <link rel="stylesheet" href="../../styles.scss">

  <title>Vista de Contactos</title>
</head>

<body>
  <header id="header">
    <nav class="menu">
      <button class="navbar-toggler" type="button" id="navbar-toggler">
        <span class="navbar-toggler-icon">&#10006;</span>
      </button>
      <ul class="menu__links">
        <li class="nav-item">
          <a class="nav-link navbar-brand" aria-current="page" href="../../index.html">
            <img class="img-fluid" src="/img/logopc2-preview.png" alt="logo del semillero SUIS" width="70"
              height="auto" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/about/about.html">Acerca de</a>
        </li>
        <li class="nav-item" id="register-item">
          <a class="nav-link" href="/views/auth/register.html">Registro</a>
        </li>
        <li class="nav-item" id="proyectos-item">
          <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
        </li>
        <li class="nav-item" id="administracion-item">
          <a class="nav-link" href="/views/admin/administracion.html">Administracion</a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn-sesion dropdown-toggle" style="background-color: transparent; border: none; color: white;"
          type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/img/cerrar sesion/user-id-icon_34334.png"
            alt="imagen de avatar de usuario generico para manejo de sesiones" width="50" height="50"
            class="rounded-circle me-7">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <button class="dropdown-item" id="iniciarSesionBtn">Iniciar sesión</button>
          </li>
          <li>
            <button class="dropdown-item" id="cerrarSesionBtn">Cerrar sesión</button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="overlay"></div> <!-- Div para oscurecer el fondo -->
    <ul class="mobile-menu"> <!-- Menú para dispositivos móviles -->
      <li class="nav-item">
        <a class="nav-link navbar-brand" aria-current="page" href="../../index.html">Pagina principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/about/about.html">Acerca de</a>
      </li>
      <li class="nav-item" id="register-item">
        <a class="nav-link" href="/views/auth/register.html">Registro</a>
      </li>
      <li class="nav-item" id="proyectos-item">
        <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
      </li>
      <li class="nav-item" id="administracion-item">
        <a class="nav-link" href="/views/admin/administracion.html">Administracion</a>
      </li>
    </ul>
  </header>

  <main>
    <section class="container">
      <h1 class="title">Formulario de contactos</h1>
      <article class="card">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombres:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Jhon Bairo">
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellidos:</label>
          <input type="text" class="form-control" id="apellido" placeholder="Hernández Gómez">
        </div>
        <div class="mb-3">
          <label for="mensaje" class="form-label">Escribe tu mensaje:</label>
          <textarea type="textarea" class="form-control" id="mensaje" placeholder="Hola mucho gusto..."
            trows="3"></textarea>
        </div>
        <button type="button" class="btn btn-danger">Contactar</button>
      </article>
    </section>

    <ul class="rrss">
      <li>
        <a href="https://www.facebook.com"><img src="/img/facebook.jpg" alt="facebook"></a>
      </li>
      <li>
        <a href="https://www.twitter.com"> <img src="/img/twitter.jpeg" alt="twitter"></a>
      </li>
      <li>
        <a href="https://www.instagram.com"><img src="/img/instagram.jpg" alt="instagram"></a>
      </li>
    </ul>
  </main>

  <script type="module" src="contact.js"></script>
</body>

</html>