<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../shared.css">
  <link rel="stylesheet" href="/views/admin/admin.css">
  <link rel="stylesheet" href="../../styles.scss">

  <title>administracion</title>
</head>

<body>
  <header id="header">
    <nav class="menu">
      <button class="navbar-toggler" type="button" id="navbar-toggler">
        <span class="navbar-toggler-icon">&#10006;</span>
      </button>
      <ul class="menu__links">
        <li class="nav-item">
          <a class="nav-link navbar-brand" aria-current="page" href="../../index.html">
            <img class="img-fluid" src="/img/logopc2-preview.png" alt="logo del semillero SUIS" width="70"
              height="auto" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/about/about.html">Acerca de</a>
        </li>
        <li class="nav-item" id="register-item">
          <a class="nav-link" href="/views/auth/register.html">Registro</a>
        </li>
        <li class="nav-item" id="proyectos-item">
          <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn-sesion dropdown-toggle" style="background-color: transparent; border: none; color: white;"
          type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/img/cerrar sesion/user-id-icon_34334.png"
            alt="imagen de avatar de usuario generico para manejo de sesiones" width="50" height="50"
            class="rounded-circle me-7">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu">
          <li>
            <button class="dropdown-item text-center" id="iniciarSesionBtn">Iniciar sesión</button>
          </li>
          <li>
            <button class="dropdown-item text-center" id="cerrarSesionBtn">Cerrar sesión</button>
          </li>
          <li id="administracion-item">
            <a class="nav-link text-center" href="/views/admin/administracion.html">Administracion</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="overlay"></div> <!-- Div para oscurecer el fondo -->
    <ul class="mobile-menu"> <!-- Menú para dispositivos móviles -->
      <li class="nav-item">
        <a class="nav-link navbar-brand" aria-current="page" href="../../index.html">Pagina principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/about/about.html">Acerca de</a>
      </li>
      <li class="nav-item" id="register-item">
        <a class="nav-link" href="/views/auth/register.html">Registro</a>
      </li>
      <li class="nav-item" id="proyectos-item">
        <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
      </li>
    </ul>
    <div class="banner">
      <img class="logo-remington" src="/img/logo-remington.png" alt="logo de la corporacion universitaria remington">
      <div class="slogan">
        <h2>SUIS</h2>
        <p>Investigando no para la escuela,
          sino para la vida</p>
      </div>
    </div>
  </header>

  <main>
    <aside class="notification d-none align-items-center" id="notifications">
      <svg class="notification-icon" id="notificationIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
        <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path><span id="notificationItems"><span
            data-count-unseen="3"></span></span>
      </svg>
    </aside>
    <header class="text-center">
      <h1>Panel de Administración</h1>
      <p>
        Bienvenido al panel de administración. Aquí puedes
        gestionar los usuarios,productos y otras configuraciones del sitio.
      </p>
    </header>

    <div class="panel">
      <div class="card">
        <img src="/img/admin/gestionarUser.png" alt="#">
        <h2>Gestionar usuarios</h2>
        <button class="boton" id="manageUserBtn">Click aquí</button>
      </div>
      <div class="card">
        <img src="/img/admin/productos.png" alt="#">
        <h2>Gestionar Productos</h2>
        <button class="boton">click in here</button>
      </div>
      <div class="card">
        <img src="/img/admin/sitio2.png" alt="#">
        <h2>Configuraciones del sitio</h2>
        <button class="boton">Click in here</button>
      </div>
    </div>

    <header class="text-center mb-4">
      <h2 class="title">Proximos eventos</h2>
      <p class="description">Calendario con los proximos eventos, click sobre el dia para ver mas información</p>
    </header>

    <article class="modal" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="titulo">Creación de eventos</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>

          <form id="formCalendar">
            <div class="modal-body">
              <h5 class="text-center py-3" id="subtitle">Agregar evento</h5>
              <div class="form-floating mb-3">
                <select class="form-select" id="selectType">
                  <option value="SEGUIMIENTO">Seguimiento</option>
                  <option value="EVENTO">Evento</option>
                  <option value="CUALIFICACION">Cualifación</option>
                </select>
                <label class="form-label" for="selectType">Tipo de evento:</label>
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" id="manager">
                  <option value="8">Alex David</option>
                </select>
                <label class="form-label" for="manager">Responsable</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="managerName" placeholder="Alex, mario, jhon...">
                <label for="managerName" class="form-label">Nombre completo del responsable</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="managerEmail"
                  placeholder="alex.morales@uniremington.edu.co">
                <label for="managerEmail" class="form-label">Correo del responsable</label>
              </div>

              <div class="form-floating mb-3">
                <input class="form-control" type="text" id="title" placeholder="Evento de programación en la remington">
                <label class="form-label" for="title">Título del evento</label>
              </div>
              <div class="form-floating mb-3">
                <textarea class="form-control" id="descripcionEvento" rows="3"
                  placeholder="Enfrentar a chicos de distintas universidades a retos de programación"></textarea>
                <label class="form-label" for="descripcionEvento">Descripción del evento</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" type="datetime-local" id="start-date" placeholder="24/11/2023 18:30 p. m.">
                <label class="form-label" for="start-date">Fecha y hora de inicio</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" type="datetime-local" id="end-date" placeholder="24/11/2023 18:30 p. m.">
                <label class="form-label" for="end-date">Fecha y hora de finalización</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" type="color" id="color" placeholder="#0099ff">
                <label class="form-label" for="color">Color</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" type="text" id="event-location"
                  placeholder="Universidad Remington sede sincelejo">
                <label class="form-label" for="event-location">Ubicación del evento</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" type="number" id="duration" placeholder="130">
                <label class="form-label" for="duration">Duración (minutos)</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="cancelBtn" data-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn btn-danger" id="deleteBtn">
                Eliminar
              </button>
              <button type="submit" class="btn btn-primary">
                Agregar evento
              </button>
            </div>
          </form>

        </div>
      </div>
    </article>

    <!-- Modal para manejo de usuarios -->
    <article class="modal" tabindex="-1" role="dialog" id="userModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="userModalTitle">Editar usuario</h4>
            <button type="button" class="btn-close" aria-label="Cerrar" id="closeUserModalBtn"></button>
          </div>

          <form id="userForm">
            <div class="modal-body">
              <h5 class="text-center py-3" id="userModalSubtitle">Editar permisos y roles</h5>


              <header class="row mb-3 gap-2">
                <div class="col-sm-4 w-100">
                  <div class="form-floating">
                    <select class="form-select" id="userSearchCriteria">
                      <option value="name">Nombre</option>
                      <option value="email">Correo electrónico</option>
                    </select>
                    <label for="userSearchCriteria" class="form-label">Buscar por:</label>
                  </div>
                </div>
                <div class="col-sm-4 w-100 mb-3">
                  <input type="text" class="form-control" id="userSearchInput"
                    placeholder="Ingrese término de búsqueda">
                  <button type="button" class="btn btn-primary my-2" id="userSearchButton">Buscar usuario</button>
                </div>
              </header>


              <section class="d-none" id="userInformation">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="userId" disabled>
                  <label for="userId" class="form-label">ID de usuario</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="userName">
                  <label for="userName" class="form-label">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="userLastName">
                  <label for="userLastName" class="form-label">Apellido</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="userEmail">
                  <label for="userEmail" class="form-label">Correo electrónico</label>
                </div>
                <!-- ... otros campos correspondientes al usuario: permisos, roles, etc. ... -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="adminCheck">
                  <label class="form-check-label" for="adminCheck">
                    Hacer administrador
                  </label>
                </div>
                
                <div class="col my-4" id="authorities">
                  <h5>Permisos</h5>
                </div>
              </section>


            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" id="deleteUserBtn">
                Eliminar usuario
              </button>
              <button type="submit" class="btn btn-primary">
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </article>

    <section class="calendario" id="calendario">

    </section>
    <article class="card event-preview z-3 d-none" id="tooltip">
      <div class="card-body">
        <h5 class="card-title" id="card-title"></h5>
        <p class="card-text" id="card-description"></p>
        <p class="card-text" id="card-fecha"></p>
        <p class="card-text" id="card-location"></p>
        <p class="card-text" id="card-duration"></p>
        <p class="card-text" id="card-manager"></p>
      </div>
    </article>

  </main>

  <script type="module" src="admin.js"></script>
</body>
</html>