<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/views/admin/admin.css">
  <link rel="stylesheet" href="../../styles.scss">

  <title>administracion</title>
</head>

<body>
  <header id="header">
    <nav class="menu">
      <ul class="menu__links">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">
            <img class="img-fluid" src="/img/logopc2-preview.png" alt="logo del semillero SUIS" width="70"
              height="auto" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/about/about.html">Acerca de</a>
        </li>
        <li class="nav-item" id="register-item">
          <a class="nav-link" href="/views/auth/register.html">Registro</a>
        </li>
        <li class="nav-item" id="proyectos-item">
          <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
        </li>
        <li class="nav-item" id="administracion-item">
          <a class="nav-link" href="#">Administracion</a>
        </li>
        <div class="dropdown">
          <button class="btn-sesion dropdown-toggle" style="background-color: transparent; border: none; color: white;"
            type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/cerrar sesion/user-id-icon_34334.png"
              alt="imagen de avatar de usuario generico para manejo de sesiones" width="50" height="50"
              class="rounded-circle me-7">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <button class="dropdown-item" id="iniciarSesionBtn">Iniciar sesión</button>
            </li>
            <li>
              <button class="dropdown-item" id="cerrarSesionBtn">Cerrar sesión</button>
            </li>
          </ul>
        </div>
      </ul>
    </nav>
    <div class="banner">
      <img class="logo-remington" src="/img/logo-remington.png" alt="logo de la corporacion universitaria remington">
      <div class="slogan">
        <h2>SUIS</h2>
        <p>Investigando no para la escuela,
          sino para la vida</p>
      </div>
    </div>
  </header>

  <main>
    <header class="text-center">
      <h1>Panel de Administración</h1>
      <p>
        Bienvenido al panel de administración. Aquí puedes
        gestionar los usuarios,productos y otras configuraciones del sitio.
      </p>
    </header>

    <div class="panel">
      <div class="card">
        <img src="/img/admin/gestionarUser.png" alt="#">
        <h2>Gestionar usuarios</h2>
        <button class="boton">click in here</button>
      </div>
      <div class="card">
        <img src="/img/admin/productos.png" alt="#">
        <h2>Gestionar Productos</h2>
        <button class="boton">click in here</button>
      </div>
      <div class="card">
        <img src="/img/admin/sitio2.png" alt="#">
        <h2>Configuraciones del sitio</h2>
        <button class="boton">Click in here</button>
      </div>
    </div>

    <header class="text-center mb-4">
      <h2 class="title">Proximos eventos</h2>
      <p class="description">Calendario con los proximos eventos, click sobre el dia para ver mas información</p>
    </header>

    <article class="modal" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-info">
            <h5 class="modal-title" id="titulo">Título del Modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <form id="formCalendar">
            <div class="modal-body">
              <h6>Agregar evento</h6>
              <div class="form-floating mb-3">
                <textarea class="form-control" id="descripcionEvento" rows="3"></textarea>
                <label for="descripcionEvento" class="form-label">Descripción del evento</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" type="date" id="start-date" />
                <label class="form-label" for="start-date">Fecha de inicio</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" type="date" id="end-date" />
                <label class="form-label" for="end-date">Fecha de finalización</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" type="color" id="color" />
                <label class="form-label" for="color">Color</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Eliminar
              </button>
              <button type="submit" class="btn btn-primary">
                Agregar evento
              </button>
            </div>
          </form>
        </div>
      </div>
    </article>

    <section class="calendario" id="calendario"></section>

  </main>

  <script type="module" src="admin.js"></script>
</body>