* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  display: contents;
  justify-content: flex-end;
  flex-direction: column;
  background: #ede7f6;
  text-align: center;
}

main {
  padding: 2em 4em;
}

/* Estilos para la barra de navegación */
.menu {
  width: 100%;
  background-color: #00447b;
  padding: .4em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  gap: 3em;
}

.nav-item {
  color: white;
}

.nav-link {
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Menú oculto inicialmente */
.mobile-menu {
  display: none;
  background-color: #00447b;
  position: fixed;
  top: 0;
  left: -100%;
  width: 35%;
  height: 100vh;
  padding: 1em 0;
  list-style: none;
  padding: 4em 1.3em;
  z-index: 1000;
  transition: left 0.3s ease;
}

.mobile-menu .nav-link {
  padding: .4em 0;
  text-align: center;
}

.mobile-menu .nav-item {
  width: 100%;
}

/* Muestra el menú móvil cuando la clase .show está presente */
.mobile-menu.show {
  left: 0;
}

/* Estilos para el botón de hamburguesa en dispositivos móviles */
.navbar-toggler {
  z-index: 1100;
  display: none;
}

.banner {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-areas: "logo slogan";
  gap: 2em;

  background: url(/img/banner/fondo-banner.jpeg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 250px;
  overflow: hidden;

  margin-bottom: 3em;
}

.logo-remington {
  grid-area: logo;
  max-width: 100%;
  height: auto;
}

.slogan {
  grid-area: slogan;
  color: #00447b;
  max-width: 100%;
  height: auto;
  margin-right: 16px;
}

.slogan>h2 {
  font-size: 40px;
  font-weight: 600;
}

.slogan>p {
  font-size: 30px;
  font-weight: 400;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
}

.section__body {
  width: 45%;
  background-color: #eeeded;
  padding: 20px;
}

.modal {
  width: 100%;
}

.modal-content {
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0.5), rgba(26, 108, 141, 0.87));
  max-height: 90vh;
  overflow-y: scroll;
}

.modal-header,
.modal-footer {
  position: sticky;
  z-index: 100;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  /* background-color: rgba(255, 255, 255, 0.9); */
  padding: 20px;
}

.modal-header {

  top: 0;
}

.modal-footer {
  bottom: 0;
}

@media (width < 830px) {
  .slogan>p {
    font-size: 20px;
  }

  .slogan>h2 {
    font-size: 25px;
  }
}


.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 3em auto;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.boton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.calendario {
  width: 74%;
  margin: 4em auto;
}

/* Estilos de la tarjeta de preview de eventos */
.card.event-preview {
  position: fixed;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 10px;
  width: 300px;
  max-width: 80%;
  /* left: 50%;
  top: 50%; */
  font-family: Arial, sans-serif;
  text-align: left;
  line-height: 1.5;
}

.card.event-preview .card-body {
  padding: 0;
  /* Eliminar el relleno interior predeterminado */
}

.card.event-preview .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.card.event-preview .card-text {
  margin-bottom: 5px;
  color: #555;
}

/* Cambiar el gradiente de fondo */
.card.event-preview {
  top: 10px;
  background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(26, 108, 141));
}

.preview-right {
  right: 10px;
}

.preview-left {
  left: 10px;
}

.close {
  width: 40px;
  border: none;
  background: transparent;
  color: white;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 768px) {
  .menu {
    padding: .4em 1em;
  }

  .navbar-toggler {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .menu__links {
    display: none;
  }

  .show {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .nav-link:hover {
    background-color: #3572a5;
    color: black;
  }

  .overlay.show {
    display: block;
  }

  .slogan>p {
    font-size: 20px;
  }

  .slogan>h2 {
    font-size: 25px;
  }
}