* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  display: contents;
  justify-content: flex-end;
  flex-direction: column;
  background: #ede7f6;
  text-align: center;
}

main {
  padding: 2em 4em;
}

/* Estilos para la barra de navegación */
.menu {
  width: 100%;
  background-color: #00447b;
  padding: .4em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  gap: 3em;
}

.nav-item {
  color: white;
}

.nav-link {
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Menú oculto inicialmente */
.mobile-menu {
  display: none;
  background-color: #00447b;
  position: fixed;
  top: 0;
  left: -100%;
  width: 35%;
  height: 100vh;
  padding: 1em 0;
  list-style: none;
  padding: 4em 1.3em;
  z-index: 1000;
  transition: left 0.3s ease;
}

.mobile-menu .nav-link {
  padding: .4em 0;
  text-align: center;
}

.mobile-menu .nav-item {
  width: 100%;
}

/* Muestra el menú móvil cuando la clase .show está presente */
.mobile-menu.show {
  left: 0;
}

/* Estilos para el botón de hamburguesa en dispositivos móviles */
.navbar-toggler {
  z-index: 1100;
  display: none;
}

.banner {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-areas: "logo slogan";
  gap: 2em;

  background: url(/img/banner/fondo-banner.jpeg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 250px;
  overflow: hidden;

  margin-bottom: 3em;
}

.logo-remington {
  grid-area: logo;
  max-width: 100%;
  height: auto;
}

.slogan {
  grid-area: slogan;
  color: #00447b;
  max-width: 100%;
  height: auto;
  margin-right: 16px;
}

.slogan>h2 {
  font-size: 40px;
  font-weight: 600;
}

.slogan>p {
  font-size: 30px;
  font-weight: 400;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
}

.section__body {
  width: 45%;
  background-color: #eeeded;
  padding: 20px;
}

.row {
  margin: 2em auto 5em;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* position: sticky; */
  bottom: 0;
  right: 0;
  background: #111;
  padding: 1em 4em;
}

.rrss {
  list-style: none;
  text-decoration: none;
}

.rrss,
.footer__text {
  color: white;
}

.footer__item {
  list-style: none;
}

@media (width < 830px) {
  .slogan>p {
    font-size: 20px;
  }

  .slogan>h2 {
    font-size: 25px;
  }
}

.title {
  text-align: center;
  margin: 2em auto;
}

.title>img {
  max-width: 6rem;
  height: auto;
}

/* estilos para proyectos */


.modal-content {
  background-color: #e20707;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  /* Establece el ancho del formulario */
  max-width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-close {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-close:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .menu {
    padding: .4em 1em;
  }

  .navbar-toggler {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .menu__links {
    display: none;
  }

  .show {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .nav-link:hover {
    background-color: #3572a5;
    color: black;
  }

  .overlay.show {
    display: block;
  }

  .slogan>p {
    font-size: 20px;
  }

  .slogan>h2 {
    font-size: 25px;
  }
}

/* estilos del modal el formulario crear proyecto */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.modal-content {
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0.5), rgba(26, 108, 141, 0.87));
  /* Degradado azul a rojo transparente */
  margin: 10% auto;
  padding: 20px;
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#ponenteEstudiante1,
#ponenteEstudiante2,
#ponenteEstudiante3,
#ponenteEstudiante4,
#Facultad {
  border: 2px solid #2d2d8e;
  background: transparent;
}

button {
  background-color: #f2f5f2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.4rem;
}

.form-group {
  position: relative;
}

.form-group label {
  position: relative;
  top: -20%;
  left: 1px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: .8rem;
}

.form-group input {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-size: 18px;
  padding: 7px;
  background: transparent;
  border: 2px solid #2d2d8e;
  outline: none;
}

.asesorPrincipal {
  margin-top: 15px;
}

.asesorPrincipal input {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #bb4741;
  margin: 39px 0;
}

.asesorPrincipal label {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #bb4741;
  margin: 39px 0;
}