<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="projects.css">
  <link rel="stylesheet" href="../../styles.scss">

  <title>Vista de Proyectos</title>
</head>

<body>
  <header id="header">
    <nav class="menu">
      <ul class="menu__links">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">
            <img class="img-fluid" src="/img/logopc2-preview.png" alt="logo del semillero SUIS" width="70"
              height="auto" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/about/about.html">Acerca de</a>
        </li>
        <li class="nav-item" id="register-item">
          <a class="nav-link" href="/views/auth/register.html">Registro</a>
        </li>
        <li class="nav-item" id="proyectos-item">
          <a class="nav-link" href="#">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
        </li>
        <li class="nav-item" id="administracion-item">
          <a class="nav-link" href="/views/admin/administracion.html">Administracion</a>
        </li>
        <div class="dropdown">
          <button class="btn-sesion dropdown-toggle" style="background-color: transparent; border: none; color: white;"
            type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/cerrar sesion/user-id-icon_34334.png"
              alt="imagen de avatar de usuario generico para manejo de sesiones" width="50" height="50"
              class="rounded-circle me-7">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <button class="dropdown-item" id="iniciarSesionBtn">Iniciar sesión</button>
            </li>
            <li>
              <button class="dropdown-item" id="cerrarSesionBtn">Cerrar sesión</button>
            </li>
          </ul>
        </div>
      </ul>
    </nav>
  </header>

  <div class="banner">
    <img class="logo-remington" src="/img/logo-remington.png" alt="logo de la corporacion universitaria remington">
    <div class="slogan">
      <h2>SUIS</h2>
      <p>Investigando no para la escuela,
        sino para la vida</p>
    </div>
  </div>

  <h1 class="title">
    <img src="/img/icon_proy/proyectos.png" alt="proyectos">
    Proyectos
  </h1>

  <div class=" row row-cols-1 row-cols-md-2 g-4" style="padding-top: 15px; width: 100%; height: auto;">
    <div class="card border-primary mb-0" style="max-width: 45%; margin: auto;">
      <div class="card-group">
        <img src="/img/icon_proy/nuevo proyecto.png" class="card-img-top" alt="..."
          style="max-width: 70px; height: auto;  padding: 0.4em 0;">
        <div class="card-body text-sencondary">
          <h5 class="card-title"></h5><a href="#" class="btn btn-danger">Nuevo Proyecto</a></h5>
          <p class="card-text">Un proyecto es un conjunto de actividades que desarrolla una persona o una entidad para
            alcanzar un determinado objetivo. Estas actividades se encuentran interrelacionadas y se desarrollan de
            manera coordinada</p>
        </div>
      </div>
    </div>
  </div>

  <div class=" row row-cols-1 row-cols-md-2 g-4" style="padding-top: 15px; width: 100%; height: auto;">
    <div class="card border-primary mb-0" style="max-width: 45%; margin: auto;">
      <img src="/img/icon_proy/proyecto reciente.png" class="card-img-top" alt="..."
        style="max-width: 70px; height: auto;  padding: 0.4em 0;">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="btn btn-danger">Proyectos Recientes</a></h5>
        <p class="card-text">Son proyectos que ha sido cargados o realizados en un periodo de tiempo muy corto,
          tambien son los proyectos mas nuevos</p>
      </div>
    </div>
  </div>

  <div class=" row row-cols-1 row-cols-md-2 g-4" style="padding-top: 15px; width: 100%; height: auto;">
    <div class="card border-primary mb-0" style="max-width: 45%; margin: auto;">
      <img src="/img/icon_proy/tipos_proyects.png" class="card-img-top" alt="..."
        style="max-width: 70px; height: auto;  padding: 0.4em 0;">
      <div class="card-body">
        <h5 class="card-title">Tipos de Proyectos</h5>
        <ol>
          <li type="none"><a href="#" class="">Investigacion</a></li>
          <li type="none"><a href="#" class="">Extension</a></li>
          <li type="none"><a href="#" class="">Emprendimiento</a></li>
          <li type="none"><a href="#" class="">Imnovacion</a></li>
        </ol>

      </div>
    </div>
  </div>
  <div class=" row row-cols-1 row-cols-md-2 g-4" style="padding-top: 15px; width: 100%; height: auto;">
    <div class="card border-primary mb-0" style="max-width: 45%; margin: auto;">
      <img src="/img/icon_proy/proyectoTerminado.png" class="card-img-top" alt="..."
        style="max-width: 70px; height: auto;  padding: 0.4em 0;">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="btn btn-success">Proyectos Terminados</a></h5>
        <p class="card-text">son cuyos proyectos donde se han trabajado y han culminado su proceso de creacion, donde
          cuya documentacion y terminacion yacen en este espacio.</p>
      </div>
    </div>
  </div>

  <script type="module" src="projects.js"></script>
</body>

</html>