* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  display: contents;
  justify-content: flex-end;
  align-content: justify;
  flex-direction: column;
  background: #ede7f6;
  text-align: center;
}

main {
  padding: 2em 4em;
}

.nav-item {
  color: white;
}

.nav-link {
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Estilos para el botón de hamburguesa en dispositivos móviles */
.navbar-toggler {
  z-index: 1100;
  display: none;
}

.formTitle {
  text-align: center;
  margin-top: 2em;
}

.formContainer {
  width: 100%;
  max-width: 600px;
  margin: 2em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer h2 {
  /* text-align: center; */
  margin: .2em auto 1em;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formContainer input[type="text"],
.formContainer input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

/* Estilo normal de botones y enlaces */
.formContainer button[type="submit"],
.buttons a {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons span {
  width: 100%;
  padding: .6em;
  border-top: 1px solid rgba(128, 128, 128, 0.384);
  text-align: center;
}

.buttons a {
  background-color: #00447b;
  color: white;
  text-decoration: none;
  margin-bottom: .4em;
  transition: background-color 0.3s;
  text-align: center;
}

/* Estilo al hacer hover sobre botones y enlaces */
.formContainer button[type="submit"]:hover,
.buttons a:hover {
  background-color: #FF5252;
}

.buttons a:hover {
  background-color: #3D85C6;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .show {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .nav-link:hover {
    background-color: #3572a5;
    color: black;
  }

  .overlay.show {
    display: block;
  }
}