<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../shared.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="../../styles.scss">

  <title>registro</title>
</head>

<body class="w-100">
  <header id="header">
    <nav class="menu">
      <button class="navbar-toggler" type="button" id="navbar-toggler">
        <span class="navbar-toggler-icon">&#10006;</span>
      </button>
      <ul class="menu__links">
        <li class="nav-item">
          <a class="nav-link navbar-brand" aria-current="page" href="../../index.html">
            <img class="img-fluid" src="/img/logopc2-preview.png" alt="logo del semillero SUIS" width="70"
              height="auto" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/about/about.html">Acerca de</a>
        </li>
        <li class="nav-item" id="register-item">
          <a class="nav-link" href="/views/auth/register.html">Registro</a>
        </li>
        <li class="nav-item" id="proyectos-item">
          <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn-sesion dropdown-toggle" style="background-color: transparent; border: none; color: white;"
          type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/img/cerrar sesion/user-id-icon_34334.png"
            alt="imagen de avatar de usuario generico para manejo de sesiones" width="50" height="50"
            class="rounded-circle me-7">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <button class="dropdown-item text-center" id="iniciarSesionBtn">Iniciar sesión</button>
          </li>
          <li>
            <button class="dropdown-item text-center" id="cerrarSesionBtn">Cerrar sesión</button>
          </li>
          <li id="administracion-item">
            <a class="nav-link text-center" href="/views/admin/administracion.html">Administracion</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="overlay"></div> <!-- Div para oscurecer el fondo -->
    <ul class="mobile-menu"> <!-- Menú para dispositivos móviles -->
      <li class="nav-item">
        <a class="nav-link navbar-brand" aria-current="page" href="../../index.html">Pagina principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/about/about.html">Acerca de</a>
      </li>
      <li class="nav-item" id="register-item">
        <a class="nav-link" href="/views/auth/register.html">Registro</a>
      </li>
      <li class="nav-item" id="proyectos-item">
        <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
      </li>
    </ul>
  </header>

  <main>
    <header class="mb-4 header">
      <h1>Inscripción - Semilleros de investigacion (LERNING) 2024 - SUIS</h1>

      <p>
        Corporación Universitaria Uniremington
        Este formulario, se ha creado con el fin de recopilar información, para la inscripción de los participantes
        de forma presencial y virtual a la inscripcion de los nuevos participantes a los semillires de
        investigacion Suis, en marco del I Primer encuentro Investigativo y el Desarrollo (LERNING) 202,
        desarrollado por los semilleros de la Universidad Remington unificados SUIS.
      </p>
      <p>
        Fecha del evento: 2 de Noviembre a partir de las 10:15 am hasta las 12:00 pm (Cupos limitados
        max. 30 estudiantes)
      </p>
    </header>

    <form class="card card-body" id="registerForm">

      <div class="mb-3 form-floating">
        <select class="form-select" aria-label="Default select example" id="select">
          <option value="STUDENT">Estudiante</option>
          <option value="TEACHER">Profesor</option>
        </select>
        <label for="select" class="form-label">Elige tu profesión</label>
      </div>
      <div class="mb-3 form-floating">
        <input type="number" class="form-control" id="dni" />
        <label for="dni" class="form-label">Numero de identificación</label>
      </div>
      <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="exampleInputNombre" />
        <label for="exampleInputNombre" class="form-label">Nombres</label>
      </div>

      <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="exampleInputApellido1" />
        <label for="exampleInputApellido1" class="form-label">Apellidos</label>
      </div>

      <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="phoneNumber" />
        <label for="phoneNumber" class="form-label">Telefono</label>
      </div>

      <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="exampleInputDireccion1" />
        <label for="exampleInputDireccion1" class="form-label">Correo</label>
      </div>

      <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="exampleInputEmail1" />
        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
      </div>


      <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="university" />
        <label for="university" class="form-label">Universidad</label>
      </div>


      <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="sede" />
        <label for="sede" class="form-label">Sede</label>
      </div>


      <div class="mb-3 form-floating" id="semesterDiv">
        <input type="number" class="form-control" id="semester" />
        <label for="semester" class="form-label" id="semestre-label">Semestre</label>
      </div>


      <div class="mb-3 form-floating" id="programDiv">
        <input type="text" class="form-control" id="program" />
        <label for="program" class="form-label" id="semestre-label">Programa academico</label>
      </div>
      <div class="mb-3 form-floating" id="facultyDiv">
        <input type="text" class="form-control" id="faculty" />
        <label for="faculty" class="form-label" id="semestre-label">Facultad</label>
      </div>
      <div class="mb-3 form-floating" id="researchTeamDiv">
        <input type="text" class="form-control" id="researchTeam" />
        <label for="researchTeam" class="form-label" id="semestre-label">Semillero</label>
      </div>


      <div class="buttons">
        <button type="submit" id="registerBtn" class="btn btn-danger buttons__register">Registrarse</button>
        <span class="text-center mb-3">¿Ya estas registrado?</span>
        <a href="/views/auth/login.html" class="btn btn-secondary buttons__login">Iniciar sesión</a>
      </div>
    </form>
  </main>

  <script type="module" src="register.js"></script>
</body>

</html>