<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>acerca de</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </link>

  <link rel="stylesheet" href="about.css">

</head>

<body>
  <header>
    <nav class="menu">
      <ul class="menu__links">
        <li class="nav-item links__item">
          <a class="nav-link active" aria-current="page" href="../../index.html">
            <!-- Inicio -->
            <img class="img-fluid w-75 h-75" src="/frontend/public/img/logo.png" alt="logo del semillero suis" />
          </a>
        </li>
        <li class=links__item">
          <a class="nav-link" href="/frontend/views/about/about.html">Acerca de</a>
        </li>
        <li class=links__item">
          <a class="nav-link" href="/frontend/views/auth/register.html">registro</a>
        </li>
        <li class="links__item">
          <a class="nav-link" href="#">Proyectos</a>
        </li>
        <li class="links__item">
          <a class="nav-link" href="/frontend/views/contact/contacto.html">Contacto</a>
        </li>
        <li class="links__item">
          <a class="nav-link" href="#">Administracion</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="clear">
    <div class="dkgrey">
      <h3 class="descripcion">Descripcion Del Semillero SUIS</h3>
      <span class="texto">El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las
        entidades públicas
        y privadas presentan proyectos de formación, diseñados a la medida de sus necesidades para contribuir al
        desarrollo productivo
        ycompetitivo del país, mejorar y cualificación de las competencias de los trabajadores vinculados a las
        empresas en todos los
        niveles ocupaciones y su cadena productiva.</span><br>
      <hr>

      <h3>historia del semillero SUIS</h3>
      <span>El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades
        públicas
        y privadas presentan proyectos de formación,
        diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país,
        mejorar y cualificación de las competencias
        de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena
        productiva.</span><br>
      <hr>

      <h4>Logros Previos</h4>
      El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas y
      privadas presentan proyectos de formación,
      diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país,
      mejorar y cualificación de las competencias
      de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva.

      <h4>Objetivos</h4>
      El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas y
      privadas presentan proyectos de formación,
      diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país,
      mejorar y cualificación de las competencias
      de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva. <br>

      <ul>
        <ol>Empleadores con trabajadores que devenguen más de 10 SMMLV</ol>
        <ol>Entidades sin ánimo de lucro*</ol>
        <ol>Entidades públicas(nacionales, departamentales, municipales)</ol>
        <ol>Zonas francas (declaradas al 31/12/12)</ol>
      </ul>

      <h4>Mision</h4>
      A través de convocatoria pública, formulando proyectos que permitan fomentar la formación continua, mediante
      la
      capacitación y actualización
      de los trabajadores en los diferentes niveles ocupacionales, con el fin de incrementar su productividad,
      competitividad y capacidad para
      enfrentar los constantes cambios tecnológicos y sociales. <br><br>

      <h4>Vision</h4>
      <ul>
        <ol><span>
            <h5>Empresa Individual Con una cofinanciación del 50%.</h5>
          </span></ol> <br>

        <ol>
          <h5>Empresas Agrupadas Con una cofinanciación del 60%</h5>
        </ol><br>

        Se deben agrupar mínimo 3 entidades independientes, afines por actividad económica, sector productivo, área
        tecnológica o de interés estratégico regional,
        para formar al personal vinculado a las mismas o pertenecientes a su cadena productiva
      </ul>

      Gremios Con una cofinanciación del 80%
      Un gremio, que formará el personal vinculado a éste, o de empresas afiliadas, federación gremial, asociaciones
      representativas, personal afiliado a
      centrales obreras o de trabajadores legalmente constituidos y en general personal del sector representado por
      el
      gremio.<br><br>

      <h4><a href="/home/infoMiembros.html"></a> Informacion sobre los miembros</h4>
      Consulte el pliego de condiciones
      Formule el proyecto acorde a las necesidades de formación de su organización
      Presente su propuesta
    </div>
  </div>

  <footer class="footer">
    <div class="contact-info">
      <h3 class="footer__text">Información de contacto</h3>
      <p class="footer__text">Teléfono: 312 756 4565</p>
      <p class="footer__text">Correo electrónico: info@tusitio.com</p>
    </div>
    <div class="social-media">
      <h3 class="footer__text">Redes sociales</h3>
      <ul>
        <li><a href="#" class="rrss">Facebook</a></li>
        <li><a href="#" class="rrss">Twitter</a></li>
        <li><a href="#" class="rrss">Instagram</a></li>
      </ul>
    </div>
    <div class="address">
      <h3 class="footer__text">Dirección</h3>
      <p class="footer__text">Calle Principal, 123</p>
      <p class="footer__text">Sincelejo, Colombia</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>