<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="about.css">
  <link rel="stylesheet" href="../../styles.scss">

  <title>acerca de</title>
</head>

<body>
  <header id="header">
    <nav class="menu">
      <button class="navbar-toggler" type="button" id="navbar-toggler">
        <span class="navbar-toggler-icon">&#10006;</span>
      </button>
      <ul class="menu__links">
        <li class="nav-item">
          <a class="nav-link navbar-brand" aria-current="page" href="../../index.html">
            <img class="img-fluid" src="/img/logopc2-preview.png" alt="logo del semillero SUIS" width="70"
              height="auto" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/about/about.html">Acerca de</a>
        </li>
        <li class="nav-item" id="register-item">
          <a class="nav-link" href="/views/auth/register.html">Registro</a>
        </li>
        <li class="nav-item" id="proyectos-item">
          <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
        </li>
        <li class="nav-item" id="administracion-item">
          <a class="nav-link" href="/views/admin/administracion.html">Administracion</a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn-sesion dropdown-toggle" style="background-color: transparent; border: none; color: white;"
          type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/img/cerrar sesion/user-id-icon_34334.png"
            alt="imagen de avatar de usuario generico para manejo de sesiones" width="50" height="50"
            class="rounded-circle me-7">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li>
            <button class="dropdown-item" id="iniciarSesionBtn">Iniciar sesión</button>
          </li>
          <li>
            <button class="dropdown-item" id="cerrarSesionBtn">Cerrar sesión</button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="overlay"></div> <!-- Div para oscurecer el fondo -->
    <ul class="mobile-menu"> <!-- Menú para dispositivos móviles -->
      <li class="nav-item">
        <a class="nav-link navbar-brand" aria-current="page" href="../../index.html">Pagina principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/about/about.html">Acerca de</a>
      </li>
      <li class="nav-item" id="register-item">
        <a class="nav-link" href="/views/auth/register.html">Registro</a>
      </li>
      <li class="nav-item" id="proyectos-item">
        <a class="nav-link" href="/views/projects/proyectos.html">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/contact/contacto.html">Contacto</a>
      </li>
      <li class="nav-item" id="administracion-item">
        <a class="nav-link" href="/views/admin/administracion.html">Administracion</a>
      </li>
    </ul>
  </header>

  <main>
    <section class="section">
      <article class="section__body">
        <h3 class="descripcion">Descripcion Del Semillero SUIS</h3>
        <p class="texto">
          El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas
          y privadas presentan proyectos de formación, diseñados a la medida de sus necesidades para contribuir al
          desarrollo productivo ycompetitivo del país, mejorar y cualificación de las competencias de los
          trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva.
        </p>
      </article>

      <figure class="section__body">
        <img class="section1" src="/img/about/about.png" alt="imagen de sección de noticias">
      </figure>
    </section>

    <section class="section">
      <figure class="section__body">
        <img class="section1" src="/img/about/historia.png" alt="imagen de sección de noticias">
      </figure>

      <article class="section__body">
        <h3 class="descripcion">historia del semillero SUIS</h3>
        <p class="texto">El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las
          entidades públicas
          y privadas presentan proyectos de formación,
          diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país,
          mejorar y cualificación de las competencias
          de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva.</p>
      </article>
    </section>

    <section class="section">
      <article class="section__body">
        <h3 class="descripcion">Logros Previos</h3>
        <p class="texto">
          El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas y
          privadas presentan proyectos de formación,
          diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país,
          mejorar y cualificación de las competencias
          de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva.
        </p>
      </article>

      <figure class="section__body">
        <img class="section1" src="/img/about/logros previos.png" alt="imagen de sección de noticias">
      </figure>
    </section>

    <section class="section">
      <figure class="section__body">
        <img class="section1" src="/img/about/objetivos.png" alt="imagen de sección de noticias">
      </figure>

      <article class="section__body">
        <h3>Objetivos</h3>
        <p class="texto">
          El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas y
          privadas presentan proyectos de formación,
          diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país,
          mejorar y cualificación de las competencias
          de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva.
        </p>

        <ol>
          <li>Empleadores con trabajadores que devenguen más de 10 SMMLV</li>
          <li>Entidades sin ánimo de lucro*</li>
          <li>Entidades públicas(nacionales, departamentales, municipales)</li>
          <li>Zonas francas (declaradas al 31/12/12)</li>
        </ol>
      </article>
    </section>

    <section class="section">
      <article class="section__body">
        <h3 class="descripcion">Mision</h3>
        <p class="texto">
          A través de convocatoria pública, formulando proyectos que permitan fomentar la formación continua, mediante
          la capacitación y actualización de los trabajadores en los diferentes niveles ocupacionales, con el fin de
          incrementar su productividad, competitividad y capacidad para enfrentar los constantes cambios tecnológicos y
          sociales.
        </p>
      </article>

      <figure class="section__body">
        <img class="section1" src="/img/about/mision.png" alt="imagen de sección de noticias">
      </figure>
    </section>

    <section class="section">
      <figure class="section__body">
        <img class="section1" src="/img/about/vision.png" alt="imagen de sección de noticias">
      </figure>

      <article class="section__body">
        <h3>Vision</h3>
        <ol>
          <li>
            <h5>Empresa Individual Con una cofinanciación del 50%.</h5>
          </li>
          <li>
            <h5>Empresas Agrupadas Con una cofinanciación del 60%</h5>
          </li>
          <li>
            <p>
              Se deben agrupar mínimo 3 entidades independientes, afines por actividad económica, sector productivo,
              área
              tecnológica o de interés estratégico regional,
              para formar al personal vinculado a las mismas o pertenecientes a su cadena productiva
            </p>
          </li>
        </ol>

        <p class="texto">
          Gremios Con una cofinanciación del 80%
          Un gremio, que formará el personal vinculado a éste, o de empresas afiliadas, federación gremial, asociaciones
          representativas, personal afiliado a
          centrales obreras o de trabajadores legalmente constituidos y en general personal del sector representado por
          el
          gremio.
        </p>
      </article>
    </section>
  </main>

  <footer class="footer">
    <div class="contact-info">
      <h3 class="footer__text">Información de contacto</h3>
      <p class="footer__text">Teléfono: 312 756 4565</p>
      <p class="footer__text">Correo electrónico: info@tusitio.com</p>
    </div>
    <div class="social-media">
      <h3 class="footer__text">Redes sociales</h3>
      <ul>
        <li class="footer__item"><a href="#" class="rrss">Facebook</a></li>
        <li class="footer__item"><a href="#" class="rrss">Twitter</a></li>
        <li class="footer__item"><a href="#" class="rrss">Instagram</a></li>
      </ul>
    </div>
    <div class="address">
      <h3 class="footer__text">Dirección</h3>
      <p class="footer__text">Calle Principal, 123</p>
      <p class="footer__text">Sincelejo, Colombia</p>
    </div>
  </footer>

  <script type="module" src="about.js"></script>
</body>

</html>