* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
  ul,
  ol {
    padding: 0;
    margin: 0;
  }
  
  body {
    display: contents;
    justify-content: flex-end;
    align-content: justify;
    flex-direction: column;
    background: #ede7f6;
    text-align: center;
  }
  
  main {
    padding: 2em 4em;
  }
  
  .menu {
    width: 100%;
    background-color: #00447b;
    padding: .4em 4em;
  }
  
  .menu__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .nav-item>a {
    color: white;
  }
  
  .brand {
    display: flex;
    align-items: center;
    padding: 3em 4em;
    margin-bottom: 3em;
    gap: 3em;
  }
  
  .semillero {
    -webkit-text-fill-color: rgb(34, 6, 245);
    font-size: 65pt;
    color: bisque;
    text-shadow: 5px 5px 5px rgb(227, 227, 227);
  }
  
  .centrado {
    font-size: 30pt;
    color: rgb(6, 6, 248);
    text-shadow: 3px 3px 3px #f2f0f0;
  }
  
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
  }
  
  .section__body {
    width: 45%;
    background-color: #eeeded;
    padding: 20px;
  }
  
  .carousel-container {
    margin: 1.5em 0 4em;
  
  }
  
  .carrousel {
    max-width: 60%;
    margin: 2em auto;
  }
  
  .carrousel__images {
    padding-top: 10;
    padding-bottom: 10;
    max-height: 420px;
    width: 40%;  
  }
  
  .carousel-item>img {
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
  
  .footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* position: sticky; */
    bottom: 0;
    right: 0;
    background: #111;
    padding: 1em 4em;
  }
  
  img {
    margin-left: -70%;
  }
  
  .img-fluid {
    width: 35%;
    height: auto;
  }
  
  .rrss {
    list-style: none;
    text-decoration: none;
  }
  
  .rrss,
  .footer__text {
    color: rgb(255, 255, 255);
  }
  
  .footer__item {
    list-style: none;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(214, 213, 216);
    
  }
  
  .main-image {
    position: relative;
    background: url(/banner.png) no-repeat center;
    background-size: cover;
    height: 400px;
    overflow: hidden;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-41%, -70%);
    text-align: right;
    color: rgb(7, 7, 249);
    font-weight: 800;
    text-transform: uppercase;
  }
  
  .container h1 {
    margin: 0;
    font-size: 100px;
  }
  
  .container h1 span {
    border: 7px solid rgb(178, 37, 37);
    padding: 6px 15px;
    display: inline-block;
  }
  
  .cen {
    margin: 20px;
    display: block;
    font-size: 22px;
  }
  
  .section1 {
    transform: translate(35%, -3%);
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .right2 {
    transform: translate(-7%, -5%);
    width: 100%;
    height: auto;
    margin: 30px;
    margin-bottom: -30px;
    border-radius: 10px;
  }
  
  article {
    border: solid blue;
    border-radius: 10px;
  }