<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acerca de</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
     rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
       crossorigin="anonymous">
       <link rel="stylesheet" href="/home/css.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg" style="background-color: rgb(51, 51, 207);"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQpvbvMLAwTeVK0FLOYTCAHFFrtC1Orcisy0iHc5E&s" alt="logoSemillero">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home/index.html" style="color: rgb(38, 202, 81); font-family: 'Anton', sans-serif; font-size: 18pt;">Inicio</a> 
            <li class="nav-item">                         
            </li>        
            <li class="nav-item" >
              <a class="nav-link"  type="#" href="/vistas del semillero/acerca.html" style="color: rgb(151, 130, 86); font-family: 'Anton', sans-serif; font-size: 18pt;"  >Acerca De</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vistas del semillero/registro.html" style="color: rgb(234, 237, 235); font-family: 'Anton', sans-serif; font-size: 18pt;">registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vistas del semillero/proyectos.html" style="color: rgb(151, 130, 86); font-family: 'Anton', sans-serif; font-size: 18pt;">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vistas del semillero/contacto.html" style="color: rgb(245, 245, 244); font-family: 'Anton', sans-serif; font-size: 18pt;">Contacto</a>
              </li>
            <li class="nav-item"> 
                <a class="nav-link" href="/vistas del semillero/administracion.html" style="color: rgb(38, 202, 81); font-family: 'Anton', sans-serif; font-size: 18pt;">Administracion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vistas del semillero/login.html" style="color: rgb(240, 242, 241); font-family: 'Anton', sans-serif;font-size: 18pt;">Iniciar Sesion</a>
              </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div id="container" class="clear">
        <div id="contentRow">
            <div class="dkgrey">
                <h3 class="descripcion">Descripcion Del Semillero SUIS</h3>
                <span class="texto">El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas
                   y privadas presentan proyectos de formación, diseñados a la medida de sus necesidades para contribuir al desarrollo productivo
                   ycompetitivo del país, mejorar y cualificación de las competencias de los trabajadores vinculados a las empresas en todos los
                   niveles ocupaciones y su cadena productiva.</span><br><hr>

                <h3>historia del semillero SUIS</h3>
                    <span>El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas y privadas presentan proyectos de formación,
                     diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país, mejorar y cualificación de las competencias 
                     de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva.</span><br><hr>
                    
                    <h4>Logros Previos</h4>
                    El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas y privadas presentan proyectos de formación,
                     diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país, mejorar y cualificación de las competencias 
                     de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva.
                    
                    <h4>Objetivos</h4>
                     El Programa de Formación Continua Especializada es la oferta que hace el SENA donde las entidades públicas y privadas presentan proyectos de formación,
                     diseñados a la medida de sus necesidades para contribuir al desarrollo productivo y competitivo del país, mejorar y cualificación de las competencias 
                     de los trabajadores vinculados a las empresas en todos los niveles ocupaciones y su cadena productiva. <br>
                    
                    <ul>
                    <ol>Empleadores con trabajadores que devenguen más de 10 SMMLV</ol>
                    <ol>Entidades sin ánimo de lucro*</ol>
                    <ol>Entidades públicas(nacionales, departamentales, municipales)</ol>
                    <ol>Zonas francas (declaradas al 31/12/12)</ol></ul> 

                    <h4>Mision</h4>
                    A través de convocatoria pública, formulando proyectos que permitan fomentar la formación continua, mediante la capacitación y actualización
                     de los trabajadores en los diferentes niveles ocupacionales, con el fin de incrementar su productividad, competitividad y capacidad para 
                     enfrentar los constantes cambios tecnológicos y sociales. <br><br>
                    
                    <h4>Vision</h4>
                    <ul>
                        <ol><span><h5>Empresa Individual Con una cofinanciación del 50%.</h5></span></ol> <br>

                    <ol><h5>Empresas Agrupadas Con una cofinanciación del 60%</h5></ol><br>

                    Se deben agrupar mínimo 3 entidades independientes, afines por actividad económica, sector productivo, área tecnológica o de interés estratégico regional,
                     para formar al personal vinculado a las mismas o pertenecientes a su cadena productiva </ul>
                    
                    Gremios Con una cofinanciación del 80%
                    Un gremio, que formará el personal vinculado a éste, o de empresas afiliadas, federación gremial, asociaciones representativas, personal afiliado a
                     centrales obreras o de trabajadores legalmente constituidos y en general personal del sector representado por el gremio.<br><br>
                    
                    <h4><a href="/home/infoMiembros.html"></a> Informacion sobre los miembros</h4>
                    Consulte el pliego de condiciones 
                    Formule el proyecto acorde a las necesidades de formación de su organización
                    Presente su propuesta
            </div>
        </div>
    </div>


    <div>
      <footer class="pie">
          <div class="contact-info" style="color: blanchedalmond;">
            <h3> Información de contacto</h3>
            <p><img src="#" alt="telefono" style="max-width: 20%; color: blanchedalmond;">Teléfono: 312 756 4565</p>
            <p>Correo electrónico: info@tusitio.com</p>
          </div>
          <div class="social-media" style="color: blanchedalmond;">
            <h3 class="sociales">Redes sociales</h3>
            <ul>
              <ol><a href="https://www.facebook.com/tusitio">Facebook</a></ol>
              <ol><a href="https://www.twitter.com/tusitio">Twitter</a></ol>
              <ol><a href="https://www.instagram.com/tusitio">Instagram</a></ol>
            </ul>
          </div>
          <div class="address" style="color: blanchedalmond;">
            <h3 class="direccion"> Dirección</h3>
            <p style="text-align:justify ;">Calle Principal, 123</p>
            <p>Sincelejo, Colombia</p>
          </div>
        </footer>
        </div>


    
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
     crossorigin="anonymous"></script>
</body>
</html>